@import url(/css/global.css);

aside:nth-of-type(2){
    margin-top: 1em;
}

#blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#blog-header img {
    width: 70%;
    max-width: fit-content;
    padding-bottom: 1em;
}

#blog-header aside {
    font-style: italic;
    // color:rgb(235, 218, 34)
}

#blog-header p:nth-child(2n+2){
    margin-top: 2em;
    text-align: justify;
}

h4{
    margin-top: 2em;
}

#blog-latest {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
}

#blog-post {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#blog-post a {
    border: solid 2px white;
    border-radius: 10%;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 0.4em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(235, 165, 34);
    overflow: hidden;
}

#blog-post img {
    width: 100%;
    padding-bottom: 0.5em;
}



@media only screen and (min-device-width: 600px) and (max-device-width: 899px){
    #blog-post{
        flex-flow: wrap row;
        justify-content: space-evenly;
    }
    #blog-post a {
        max-width: 40%;
    }
}

@media only screen and (min-device-width: 900px){
    #blog-post{
        flex-flow: wrap row;
        justify-content: space-evenly;
    }
    #blog-post a {
        max-width: 25%;
    }
}