@import url(/css/global.css);

main {
    background-color: blue;
}

a {
    color: orange;
}

img {
    width: 90%;
    max-width: max-content;
}

.blog-article {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
}

.caption {
    margin-top: 0.8em;
}