@import url(/css/global.css);

// #contact-container {
//     // height: 100vh;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{ 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
    // background: url(Images/jamie-mcglinchey-q19ZRZE4tGI-unsplash.jpg);
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
}

label {
    display: block;
    // display: table-cell;
    // margin-right:0.5em;
}

input, #message{
    border: solid 2px black
}

main p{
    margin: 1em 0.2em;
}

fieldset {
    margin-top: 1em;
    border: solid 5px white;
}

legend {
    border-top-left-radius: 3px solid yellow ;
}

button {
    margin: 1em 0;
    background: orange;
    color: blueviolet;
    font-size: 2em;
}

.logo-container {
    margin-top: 1em;
}

@media only screen and (min-device-width: 900px){  
    .logo-container {
        width: 713px;
    }

}

// @media only screen and (min-device-width: 600px) and (max-device-width: 899px){
//     {
//     }
// }

// @media only screen and (min-device-width: 900px){
//     {

//     }
// }